* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
}

#squares-container {
    height: 800px;
    width: 800px;
    border: solid;
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1;
}

.row {
    flex: 1;
    min-height: 0;
    display: flex;
}

.highlighted {
    background-color: black;
}

button {
    padding: 5px 10px;
}

#button-list {
    display: flex;
    margin: 10px;
    gap: 10px;
}