* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#squares-container {
    height: 800px;
    width: 800px;
    border: solid;
    display: flex;
    flex-direction: column;
}

.square {
    background-color: blue;
    flex: 1;
    border: double;
}

.row {
    background-color: red;
    border: dotted;
    flex: 1;
    min-height: 0;
    display: flex;
}